.logo-bar {
    font-size: 75%;
    color: #898989;
    width: 100%;
    display: inline-flex;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.logo-with-text {
    float: right;
    text-align: center;
    padding-right: 10px;
}

.navbar-right {
    width: 100%;
}

.header-links {
    width: 100%;
    float: right;
}

.search-bar {
    color: white;
    background-color: #AAAAAA;
    padding: .5% 10% .5% 10%;
    display: block;
}

.input-group {
    width: 100%;
}

.input-group button {
    margin-left: 15px;
    width: 125px;
    background-color: #1B7174;
    color: white;
}

.search-bar a {
    margin-left: 10%;
}

.contacts-info {
    background-color: #EEEEEE;
    padding: 0% 10% 0% 10%;
}

.second-col {
    padding: 20% 10% 20% 10%;
    margin: auto;
}

.second-col button {
    width: 100%;
    margin-bottom: 10px;
    background-color: #1B7174;
}

.social-logo-img {
    margin-right: 10%;
    width: 8%;
    height: 20px;
}

.third-col {
    margin: auto;
    padding: 20% 10% 20% 10%;
    font-size: 80%;
    color: #2399A5;
    font-weight: bold;
}

.third-col label {
    display: block;
    font-size: 200%;
}

.second-body {
    padding: 0% 10% 0% 10%;
}

.nav-underline>li>a {
    color: gray;
}

.nav-underline>li {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.nav-underline>.active>a,
.nav-underline>.active>a:hover,
.nav-underline>li>a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #2399A5;
    color: #2399A5 !important;
    background-color: transparent !important;
}

.nav-underline {
    border-radius: 0px;
    justify-content: space-evenly;
    margin: 5% 0% 5% 0%;
}

.dropdown-btn {
    width: 100%;
    margin-top: 2%;
}

.language-col {
    font-size: 70%;
}

footer {
    background-color: #2399A5;
    padding: 10px 10% 0% 10%;
    margin-top: 10px;
    color: white;
    font-size: 80%;
}

footer ul li {
    display: inline-block;
    margin-left: 5px;
}

.footer-social-logo-img {
    margin-right: 20px;
    width: 15px;
    height: 15px;
}

@media (min-width: 1200px) {
    .search-bar a {
        font-size: 90%;
        margin-left: 9%;
    }
    .sm-hide {
        opacity: 1;
    }
    .sm-show {
        display: none;
    }
    .xs-hide {
        opacity: 1;
    }
    .xs-show {
        display: none;
    }
}

@media (max-width: 1200px) {
    .third-col label {
        font-size: 125%;
    }
    .search-bar a {
        font-size: 80%;
        margin-left: 7%;
    }
    .sm-hide {
        opacity: 1;
    }
    .sm-show {
        display: none;
    }
    .xs-hide {
        opacity: 1;
    }
    .xs-show {
        display: none;
    }
}

@media (max-width: 992px) {
    .third-col label {
        font-size: 90%;
    }
    .search-bar a {
        font-size: 70%;
        margin-left: 2%;
    }
    .sm-hide {
        opacity: 1;
    }
    .sm-show {
        display: none;
    }
    .xs-hide {
        opacity: 1;
    }
    .xs-show {
        display: none;
    }
}

@media (max-width: 768px) {
    .third-col label {
        font-size: 65%;
    }
    .search-bar a {
        font-size: 50%;
        margin-left: 2%;
    }
    .sm-hide {
        opacity: 1;
    }
    .sm-show {
        display: none;
    }
    .xs-hide {
        opacity: 1;
    }
    .xs-show {
        display: none;
    }
}

@media (max-width: 576px) {
    .third-col label {
        font-size: 150%;
    }
    .input-group button {
        width: 50px;
    }
    .sm-hide {
        display: none;
    }
    .sm-show {
        display: block;
    }
    .xs-hide {
        display: none;
    }
    .xs-show {
        display: block;
    }
}